<template name="stageListItem">
  <div class="position drag-handle">{{item.position}}</div>
  <form class="js-stage-item-form">
    {{> formInput stageNameInputOptions}}
    {{#unless item.isNewItemForm}}
      <button class="js-remove">{{> binIcon}}</button>
    {{else}}
      <button type="submit">Add</button>
    {{/unless}}
  </form>

</template>
